@model IEnumerable<OfferViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="offer-list">
    @foreach (var item in Model)
    {
        <div class="offer">
            <span class="offer-title">Holidays</span>
            <header>
                <div class="offer-destination">
                    @item.Country.Name / @item.City.Name
                </div>
                <h3 class="header-title">@item.Hotel.Name</h3>
                <span class="stars">
                    @for (int i = 0; i < @item.Hotel.StarRating; i++)
                    {
                        <span class="star"></span>
                    }
                </span>
            </header>
        </div>
        <div class="offer-info">
            <div class="offer-date">
                <span>@item.Offer.FromDate.Date.ToShortDateString() - @item.Offer.ToDate.Date.ToShortDateString() (@item.Offer.NumberOfDays days)</span>
            </div>
            <div class="offer-info-details">
                <div class="offer-price">
                    <span class="current-price">@item.Offer.Price PLN</span>
                </div>
            </div>
            <a class="offer-link">
                <span class="link-text">Check the offer</span>
            </a>
        </div>
    }
</div>